.single {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.single .singleContainer {
  width: 100%;
  display: flex;
}
.single .singleContainer .sidebar_imitation {
  width: 14.5%;
  height: 100vh;
}
.single .singleContainer .singleContainerComponents {
  position: relative;
  width: 85.5%;
}
.single .singleContainer .singleContainerComponents .top {
  margin-top: 50px;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.single .singleContainer .singleContainerComponents .top .left {
  position: relative;
  flex: 1;
  padding: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.single .singleContainer .singleContainerComponents .top .left .editButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 4px;
  color: #000080;
  background-color: rgba(0, 0, 128, 0.2470588235);
  cursor: pointer;
}
.single .singleContainer .singleContainerComponents .top .left .item {
  display: flex;
  gap: 20px;
}
.single .singleContainer .singleContainerComponents .top .left .item .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.single .singleContainer .singleContainerComponents .top .left .item .details .itemTitle {
  margin-bottom: 10px;
  color: #555;
}
.single .singleContainer .singleContainerComponents .top .left .item .details .detailItem {
  margin-bottom: 10px;
  font-size: 14px;
}
.single .singleContainer .singleContainerComponents .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: gray;
  margin-right: 5px;
}
.single .singleContainer .singleContainerComponents .top .left .item .details .detailItem .itemValue {
  font-weight: 300;
}
.single .singleContainer .singleContainerComponents .top .right {
  flex: 2;
}
.single .singleContainer .singleContainerComponents .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: lightgray;
}
.single .singleContainer .singleContainerComponents .bottom {
  padding: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 10px 20px;
  overflow-x: hidden;
}
.single .singleContainer .singleContainerComponents .bottom .datatable {
  margin-top: 0px;
  padding: 0px;
  color: white;
}
.single .singleContainer .singleContainerComponents .bottom .datatableTitle {
  display: none;
}