.datatable {
  margin-top: 50px;
  height: 600px;
  padding: 20px;
}
.datatable .datatableTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  color: gray;
  font-size: 20px;
}
.datatable .datatableTitle .link {
  text-decoration: none;
  color: green;
  font-weight: 700;
  padding: 7px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.datatable .cellWithImg {
  display: flex;
  align-items: center;
}
.datatable .cellWithImg .cellImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.datatable .cellWithStatus {
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.datatable .cellWithStatus.active {
  color: green;
  background-color: rgba(0, 128, 0, 0.135);
}
.datatable .cellWithStatus.pending {
  color: crimson;
  background-color: rgba(220, 20, 60, 0.085);
}
.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.datatable .cellAction .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.187);
  cursor: pointer;
}
.datatable .cellAction .deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(139, 21, 0, 0.187);
  cursor: pointer;
}