@import '../../scss/colors';
@import '../../scss/utitlities';


.settings{
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;

    
    .settingsContainer{
      // background-color: aquamarine;
        width: 100%;
        display: flex;
        .sidebar_imitation{
            width: 14.5%;
            height: 100vh;
            // i added this here ti immitate the sidebar so it won't affect with adding margins
        }
        .settingsContainerComponents{
          position: relative;
          width: 100%;

          .settingsHolder{
            margin-top: 50px;
            padding: 20px;
          }
        }
      }
}