$desktop: 1280px;
$ipads: 1024px;
$tablet: 768px;
$mobile: 480px;
$smallerMobile: 320px;

// desktop
@media screen and (max-width: $desktop) {
    // everything looks good on this breakpoint
}

@media screen and (max-width: $ipads) {
    // everything looks good on this breakpoint
}

// tablets
@media screen and (max-width: $tablet) {
    .sidebar_imitation{
        display: none;
    }
    // main container
    main{
        width: 100%;
    }

    // navbar
    .navbar {
        width: 100%;
        .wrapper{
            .hamburger_menu{
                display: inline-block;
                font-size: 30px;
            }
        }
    }

    //sidebar
    .sidebar{
        width: 20%;
        left: -190px;
    }

    // widget
    .widget {
        padding: 7px;
        .left{
            display: none;
        }
        .arr-icon{
            // bottom: 10px;
            top: 87px;
            
        }
        .icon{
            bottom: 0;
            top: 10px;
        }
    }

    // home container
    .home{
        .homeContainer{
            .homeContainerComponents{
                .charts{
                    flex-direction: column-reverse;
                }
            }
        }
    }
    // create new user page 
    .new .newContainer .newContainerComponents .bottom .right form{
        flex-direction: column;
        .formInput{
            width: 90%;
        }
    }

    // for the single members page
    .single .singleContainer .singleContainerComponents .top{
        flex-direction: column;
    }

    // edit user page
    .user .userContainer .userContainerComponents .container{
        flex-direction: column;
    }
    .user .userContainer .userContainerComponents .userShow .userShowBottom{
        flex: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .user .userContainer .userContainerComponents .userUpdate{
        margin-left: 0px;
        margin-top: 20px;
    }
    .user .userContainer .userContainerComponents{
        width: 94%;
    }
}

// mobile
@media screen and (max-width: $mobile) {
    // for the navbar
    .navbar {
        .wrapper{
            .search{
                display: none;
            }
        }
    }
    // for the sidebar
    .sidebar{
        
    }
    // for the widgets
    .widget{
        flex: none;
        width: 96%;
    }

    // for he members arena 
    .holder{
        span{
            display: none;
        }
    }

    .new .newContainer .newContainerComponents .bottom{
        display: block;
    }

    // edit user page
    .user .userContainer .userContainerComponents{
        width: 90%;
    }
    .user .userContainer .userContainerComponents .userShow .userShowBottom{
        gap: 10px;
    }

    .user .userContainer .userContainerComponents .userUpdate .userUpdateForm{
        flex-direction: column;
        gap: 20px;

    }
    .user .userContainer .userContainerComponents .userUpdate .userUpdateForm .userUpdateRight .userUpdateButton{
     margin-top: 20px;   
    }
}